PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/krics_db
# MONGO_ATLAS_URI=mongodb://2416082_db_user:<YOUR_DB_PASSWORD>@ac-y0dbbfl-shard-00-00.3td8lbm.mongodb.net:27017,ac-y0dbbfl-shard-00-01.3td8lbm.mongodb.net:27017,ac-y0dbbfl-shard-00-02.3td8lbm.mongodb.net:27017/?ssl=true&replicaSet=atlas-13m9iz-shard-0&authSource=admin&appName=Cluster0&compressors=zlib
JWT_SECRET=your_jwt_secret_key
